/* Nama: Nikola Arinanda
   NIM: 121140202
   Kelas: RB
*/

/* style seluruh halaman */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* style halaman web */
body {
  height: 100vh;
  /* tampilan grid */
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    "header"
    "main-content"
    "footer";
}

/* style header */
.header {
  grid-area: "header";
  background-color: aquamarine;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* style judul web */
.header h3 {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  font-weight: normal;
  margin-left: 3vw;
  transition: 0.3s;
}

/* style judul web ketika disorot oleh kursor */
.header h3:hover {
  color: white;
}

/* style unorder list */
.header nav ul {
  list-style: none;
  margin-right: 10vw;
}

/* style list */
.header nav ul li {
  display: inline-block;
  margin-left: 3vw;
}

/* style navigasi (link) web */
.header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  transition: 0.3s;
}

/* style navigasi (link) web ketika disorot kursor */
.header nav ul li a:hover {
  color: white;
  background-color: black;
}

/* style konten utama web */
.main-content {
  grid-area: "main-content";
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* style kontainer kalkulator */
.kalkulator {
  width: 49vw;
  height: 50vh;
  background-color: #333;
  border: 3px solid black;
  padding: 5px;
  border-radius: 10px;
}

/* style semua tombol dengan kelas operator */
.operator {
  color: coral;
}

/* style semua tombol dengan kelas operator ketika disorot kursor */
.tombol.operator:hover {
  color: coral;
}

/* style container tampilan perhitungan */
.hasil {
  width: 49vw;
  height: 8vh;
  background-color: white;
  margin: 5px 0;
  border: 2px solid black;
  box-sizing: border-box;
}

/* style tampilan perhitungan */
.hasil h3 {
  text-align: center;
  line-height: 8vh;
}

/* style semua button dengan kelas tombol */
.tombol {
  width: 12vw;
  height: 10vh;
  border: 2px solid black;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: larger;
}

/* style semua button dengan kelas tombol ketika disorot kursor*/
.tombol:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* style footer */
.footer {
  grid-area: "footer";
  background-color: #000;
  color: white;
  border-top: 3px solid black;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
